version: '3.8'

services:
  app:
    container_name: php_app
    image: php_app  # Usar a imagem pré-construída chamada 'php_app'
    volumes:
      - /home/italo/Documentos/projetoFoco/API_HOTEL_LARAVEL:/var/www/html
    ports:
      - "9000:80"  # Mapeia a porta 9000 do host para a porta 80 do container
    networks:
      - app-network
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_hotel
      MYSQL_USER: italo
      MYSQL_PASSWORD: sixx123
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
